*{ padding: 0px; margin: 0px; }

body{ background: #fff; font-family: 'Sawarabi Gothic', sans-serif;}

/*.header{border-bottom: 3px solid #282F39;}*/
header{background-image: url('../images/layouts/background_header.png');}
.main-header{
	padding: 5px 0px 5px 0px; 
	background-image: url('../images/layouts/background_header.png');
	background-position: center;
	/*	border-top: 5px solid #e9224a;*/
}
.main-header .logo{width: 100%;  margin: auto; margin-top: 10px;}
.main-header .search-header{
	padding: 35px 10px; 
}
.main-header .search-header .btn-color{
	background: #e9224a;
	color: #fff;
	border: 1px solid #e9224a;

}
.main-header .search-header .btn-color:hover{
	background: #1563AC;
	color: #fff;
	border: 1px solid #1563AC;
}
.main-header .search-header .border-search{
	border: 1px solid #e9224a;

}
.main-header .search-header .border-search:focus{ box-shadow: none; }
.main-header .input-group{position: relative;}
.main-header .input-group #box{
	position: absolute;
	z-index: 999999;
	background: #fff;
	width: 100%;
	top: 30px;
	/*border: 1px solid #ccc;*/
}
.main-header .input-group #box ul{
	list-style-type: none;
}
.main-header .input-group #box ul li{
	padding: 5px 5px;
}
.main-header .input-group #box ul li a{
	color: #666;
}
.main-header .cart{padding: 35px 0px;}
.main-header .cart .cart-w,.main-header .cart .icon{display: block; float: left; box-shadow: 4px 4px 4px #ccc;}
.main-header .cart .icon{box-shadow: none;}
.main-header .cart .icon img{
	margin: 3px 10px 0px 0px;
}
.main-header .cart .cart-w span{
	color: #666;

	float: left;
	border:1px solid #EC4F74;
	border-right: none;
	padding: 8px 20px 9px 20px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.main-header .cart .cart-w .btn-cart{
	display: block;
	width: 39px;
	height: 39px;
	line-height: 39px;
	border-left: none;
	border-radius: 0px;
	background: #EC4F74;
	color: #fff;
	float: left;
	padding: 0px 16px 0px 12px ;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.main-header .cart .cart-w .btn-cart:hover{
	background: #1563AC;
}

.mainmenu ul li{
	padding-right: 15px;
	padding-left: 15px;
}

.mainmenu ul li:first-child{
	padding-left: 0px;
}

.mainmenu ul li a {
	color: #696763;

	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#fdb45e;
}

/*.header-bottom { border-top: 1px dashed #e9224a; }*/

.bg-blue{background: #fff;}
.navbar { 
	padding: 0px 10px; 
	border: none; 
	border-radius: 0px; 
	margin-bottom: 0px;
}
.navbar-default{background: #e9224a;}
.navbar-default .navbar-nav > li > a{ 
	font-size: 15px;
	color: #fff; 
	border-bottom: 2px solid transparent; 
	padding: 15px 10px 15px 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{ 
	color: #fff; 
	/*border-bottom: 2px solid #333; */
	background-color: #d20d35;
	transition: 1s all;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{ 
	color: #fff; 
	/*	border-bottom: 2px solid #333; */
	transition: 1s all;
}
.navbar-default .navbar-brand{ color: #e9224a; font-size: 18px; }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{color: #6F7E88;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{ 
	color: #fff; 
	/*border-bottom: 2px solid #333; */
	border:none;
	transition: 1s all;
	background: #d20d35;
}
/*.navbar-nav .nav-link:focus,  .navbar-nav .nav-link:hover{ color: #000000; }*/
/*.navbar-nav .nav-link {color: #6F7E88; font-size: : 16px;}*/
.navbar .dropdown-menu {background: rgba(255, 255, 255, 1); border:none; border-radius: 0px;}
.dropdown-menu > li > a{
	font-size: 15px;
	padding: 6px 20px;
	color: #444;
	border-left: 3px solid transparent;
}

.navbar .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: #d20d35; background: transparent; border-left: 3px solid #d20d35;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #d20d35; 
	background: #fff; 
	border-left: 3px solid #d20d35;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #fff;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: transparent;}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@media only screen and (min-width: 768px) {

	/*.navbar-default{
		border: none;
		background-image: url('../images/layouts/background_header.png');
	}

	.navbar-default .navbar-nav > li > a{ 
		font-size: 15px;
		color: #fff; 
		border-bottom: 2px solid transparent; 
		padding: 15px 10px 11px 10px;
		background-color: #e9224a;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		margin-right: 5px;
		margin-top: 2px;
		}*/

		.dropdown:hover .dropdown-menu {
			display: block;
		}
	}


	.affix {
		top: 0;
		width: 100%;
		z-index: 99 !important;
	}

	.affix + .container-fluid {
		padding-top: 70px;
	}

	.banner{width: 100%; margin: auto;}
	.banner .carousel-inner img {
		width: 100%;

	}


	.asks-first {
		padding: 10px 0 10px 30px;
		position: relative;
		background: #27424d;
		color: #fff;
		border: 1px solid transparent;
		margin-top: 10px;
	}

	.asks-first:hover {
		background: #fff;
		border: 1px solid #27424d;
		color:#333;
	}

	.asks-first2 {
		padding: 10px 0 10px 30px;
		position: relative;
		background:#337681;
		color: #fff;
		border: 1px solid transparent;
		margin-top: 10px;
	}

	.asks-first2:hover {
		background: #fff;
		border: 1px solid #337681;
		color:#333;
	}

	.asks-first-circle {
		float: left;
		width: 70px;
		height: 70px;

		text-align: center;
		margin-right: 15px;
		margin-top: 15px;
		font-size: 35px;
	}
	.asks-first-info {
		margin: 0 65px 0 85px;
	}
	.asks-first-arrow {
		top: 0;
		position: absolute;
		right: 0;
		width: 60px;
		height: 100%;
		float: right;
		background: rgba(0, 0, 0, 0.06);
	}



	.box-title{
		display: table-cell;
		padding: 5px 0px; 
	}
	.box-title .line{
		width: 50%;
		height: 3px;
		background:  linear-gradient(to right,#112f41 0%,#20baae 100%);
	}

	.recommended_items {
		overflow: hidden;
		margin-top: 20px; 
	}

	#recommended-item-carousel .carousel-inner .item {
		padding-left: 0;
	}

	.recommended-item-control {
		position: absolute;
		top: 41%;
		background: #e9224a;
		color: #FFFFFF;
		font-size: 20px;
		padding: 4px 10px;
	}

	.recommended-item-control i {

	}

	.recommended-item-control:hover {
		background: #f4f4f4;
	}

	.recommended_items  h2 {
	}

	.our_partners{
		overflow:hidden;
	}

	.our_partners ul {
		background: #F7F7F0;
		margin-bottom: 50px;
	}


	.our_partners ul li a:hover{
		background:none;
	}
	.recommended_items .right{
		right: -2px;
	}

	.wallpaper{
		margin: 40px 0px 10px 0px;
	}
	.wallpaper .title h2{
		/*padding: 5px 10px;
		display: table-cell;
		border-top: 1px solid #e9224a;
		border-bottom:  3px solid #e9224a;
		margin-bottom: 30px;*/
		margin: 0;
		font-size: 20px;
		font-weight: 400;
		line-height: 45px;
		color: #fff;
		padding: 0 8px 0 12px;
		height: 45px;
		background: #3a3a3c;
		border-radius: 4px 0 0 4px;
		position: relative;
		text-transform: uppercase;
		display: inline-block;
		border-bottom: initial;
	}

	.wallpaper .title h2:after{
		content: "";
		display: block;
		width: 0;
		height: 0;
		margin-left: 2px;
		vertical-align: middle;
		border-top: 22px solid transparent;
		border-left: 15px solid #3a3a3c;
		border-right: 0 solid transparent;
		border-bottom: 23px solid transparent;
		position: absolute;
		top: 0;
		right: -15px;
	}
/*	.wallpaper .title .sub-title{
		font-size: 30px;
		text-transform: capitalize;
		text-align: center;
		color: #e9224a;

	}
	*/
	.box-hidden{display: none;}

	.product{ 
		margin-top: 20px;
		margin-bottom: 20px;
		background: #fff;
		position: relative; 
		max-height: 800px;
		cursor: pointer;
		background: #fff;
		width: 100%;
	}
	.product .image{
		display: block;
		width: 100%;
		height: 100%;
	}
	.product .overlay {
		position: absolute; 
		bottom: 0; 

		background: rgba(255, 255, 255, 0.5); /* Black see-through */
		color: #f1f1f1; 
		width: 100%;
		height: 100%;
		transition:0.2s all;
		opacity:0;
		color: white;
		font-size: 20px;
		padding: 20px;
		text-align: center;
	}
	.product .overlay .box{
		position: relative;
		width: 100%;
		height: 100%;
	}
	.product .overlay .box .btn-detail{
		width: 20%;
		height: 18%;
		position:absolute;
		right:  -100px;
		bottom: 15%;
		transition: 0.5s all;
	}

	.product .overlay .box .btn-detail-2{
		background-color: #333;
		border-color: #333;
		color: #fff;
		border-radius: 0px;
	}	

	.product .overlay .box .btn-detail-2:hover{
		transform: rotate(-360deg);
		transition: transform .8s ease;

	}

	.product .overlay .box .btn-detail-3{
		background-color:  rgb(299, 83, 80);
		border-color:  rgb(299, 83, 80);
		color: #fff;
	}

	.product .overlay .box .btn-detail-3:hover{
		background-color: rgb(235, 40, 35);
		border-color: rgb(235, 40, 35);
		color: #fff;
	}

	.product:hover .overlay {
		opacity: 1;
	}

	.product:hover .overlay .box .btn-detail{
		right: 0;

	}


	.product .detail{
		padding: 0px 8px;
		margin-top:5px;
		padding-bottom: 6px;
		border-top: 1px solid #E1E1E1;
		border-bottom: 2px solid #e9224a;
	}

	/*.product .detail .title{
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 5px 5px;
		height: 50px;
		color: #666;

	}*/

	.product .detail .title{
		text-transform: uppercase;
	}

	@media only screen and (min-width: 768px) {

		.product .detail .title{
			padding: 5px 5px;
			height: 50px;
			color: #666;
			text-transform: uppercase;
		}
	}

	

.product .detail .price{ color: #ea1e63; padding: 0px 5px; font-size: 18px;}
.product .detail .discount{ color: #666; text-decoration: line-through; font-size: 14px;}
.product .new, .sale {
	position: absolute;
	top: 0;
	right: 0;
}
.product .sale{
	left: 0px;
}
.clear{clear: both;}
/*end slide product*/

/*footer*/
footer{margin-top: 30px;}
.footer-top-area .zigzag-bottom{background: #f4f4f4}
.footer-top-area {background: none repeat scroll 0 0 #333;
	color: #999;
	padding: 35px 0 180px;
}


.footer-bottom-area {background: #000;color: #fff}
.footer-about-us span {
	color: #e9224a;
}
.footer-wid-title {
	font-family: raleway;
	font-size: 30px;
	font-weight: 100;color: #fff
}

.footer-about-us h2 {
	font-weight: 200;
}
.footer-menu ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.footer-menu ul li {
	border-bottom: 1px dashed #555;
	padding: 5px 0;
}
.footer-menu a {
	display: block;
	padding: 5px 0;color: #999
}


.footer-social a {
	background: none repeat scroll 0 0 #e9224a;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-top: 5px;
	text-align: center;
	width: 40px;border: 1px solid #e9224a;
}

.footer-social a:hover {background-color: #222;border-color: #666}

.footer-social {margin-top: 20px}


.newsletter-form input[type="email"] {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}
.newsletter-form input[type="submit"] {
	background: none repeat scroll 0 0 #e9224a;
	border: medium none;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 7px 20px;
	text-transform: uppercase;border: 1px solid #e9224a;
}
.newsletter-form input[type="submit"]:hover {background: #222;border-color: #666}
.newsletter-form {
	margin-top: 25px;
}
a {color: #e9224a}
a:hover, a:focus {color: #17a78b}
.footer-bottom-area {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	padding-bottom: 40px;
}


.slide-bulletz {
	bottom: 30px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 99;
}
ol.slide-indicators {
	left: inherit;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
ol.slide-indicators li {
	background: none repeat scroll 0 0 #222;
	border: medium none;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 0 0 0 5px;
	width: 10px;
}
ol.slide-indicators li.active {
	background: none repeat scroll 0 0 #fff;
	height: 10px;
	margin: 0 0 0 5px;
	width: 10px;
}


.carousel.carousel-fade .item { transition: opacity 1s ease-in-out }
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.footer-card-icon {
	font-size: 30px;
	text-align: right;
}

.copyright > p {
	margin: 10px 0 0;
}
/*end footer*/
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 100px;
	right: 20px;
	display:none;
	background-color: #e9224a;
	color: #fff;
	border-radius: 0;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.titleProducts{
	margin-top: 20px;
	border-bottom: 1px dashed #e9224a;
	margin-bottom: 20px;
	padding: 10px;
	text-align: left;
	text-transform: capitalize;
	color: #e9224a;
	font-size: 14px;
}
.titleProducts a, .titleProducts span{ color: #999; }

.category{
	
	margin-bottom: 20px; 
}

.category .category-brand{
	/*background: #e9224a;*/
	color: #444;
	padding: 8px 10px;
	font-size: 20px;
	border-bottom: 1px dashed #e9224a;
	font-weight: bold;
	/*border-top-right-radius: 3px;*/
	/*border-top-left-radius: 3px;*/
}

.category .category-content{
	padding: 5px 0px;
	background: #fff;
}
.category .panel{border:none;}

.category .panel-heading{
	background: #fff;
	color: #193041;
	padding: 0px 0px;
}
.category .panel-heading a{
	padding: 10px 15px;
	display: block;

}
.category .panel-heading a:hover, .category .panel-heading a:focus, .category .panel-heading a:active{
	background: #e9224a;
	opacity: .8;
	color: #fff;
}
.category .panel-body{
	background: #fff;
	color: #193041;
}

.category .panel-body .table > tbody > tr > td{
	border:none;
}
.category .panel-body .table > tbody > tr > td >a{
	color: #153041;
}
.category .panel-group .panel-heading + .panel-collapse > .panel-body{border:none;}

.category .panel-body .table > tbody > tr{ border-left: 3px solid transparent; }

.category .panel-body .table > tbody > tr:hover{ border-left: 3px solid #e9224a; }

.range {
	display: table;
	position: relative;
	height: 25px;

	background-color: rgb(245, 245, 245);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.range input[type="range"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
	appearance: none !important;

	display: table-cell;
	width: 100%;
	background-color: transparent;
	height: 25px;
	cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
	appearance: none !important;

	width: 11px;
	height: 25px;
	color: rgb(255, 255, 255);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0px;
	background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	-o-appearance: none !important;
	appearance: none !important;

	width: 11px;
	height: 25px;
	color: rgb(255, 255, 255);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0px;
	background-color: rgb(153, 153, 153);
}

.range output {
	display: table-cell;
	padding: 3px 5px 2px;
	min-width: 40px;
	color: rgb(255, 255, 255);
	background-color: rgb(153, 153, 153);
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}
.range input[type="range"] {
	outline: none;
}
.range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: rgb(66, 139, 202);
}
.range.range-primary output {
	background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
	outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
	background-color: rgb(92, 184, 92);
}
.range.range-success output {
	background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
	outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
	background-color: rgb(91, 192, 222);
}
.range.range-info output {
	background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
	outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
	background-color: rgb(240, 173, 78);
}
.range.range-warning output {
	background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
	outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
	background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
	background-color: rgb(217, 83, 79);
}
.range.range-danger output {
	background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
	outline-color: rgb(217, 83, 79);
}

.content .title{
	margin: 0px;
	text-transform: uppercase;
}
.content .sortComment{
	color: #666;
	margin: 10px 0px 5px 0px;
}

.pagination {
	display: inline-block;
	margin-bottom: 25px;
	margin-top: 0;
	padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
	background-color:  #e9224a;
	border-color:  #e9224a;
	color: #FFFFFF;
	cursor: default;
	z-index: 2;
}

.pagination  li  a, .pagination  li  span {
	background-color: #f4f4f4;
	border: 0;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	/*padding: 6px 12px;*/
	position: relative;
	text-decoration: none;
	margin-right: 5px;
	color:#000;

}
.pagination  li  a:hover{
	background: #e9224a;
	color:#fff;
}

.btn-danger-2{
	background-color:  rgb(299, 83, 80);
	color: #fff;
	border-radius: 0px;
}

.btn-danger-2:hover{
	background-color:  #FF3733;
	color: #fff;
	border-radius: 0px;
}

.btn-success-2{
	background-color: rgb(153, 207, 73);
	color: #fff;
	border-radius: 0px;
	
}

.btn-success-2:hover{
	background-color: rgb(130, 183, 49);
	color: #fff;
	border-radius: 0px;
}

.btn-default-2{
	background-color: #f7f7f0;
	color: #555;
	border-radius: 0px;
	border: 1px solid #CECEC6;
}

.btn-default-2:hover{
	background-color: #e0e0e0;
	color: #333;
	border-radius: 0px;
	border: 1px solid #CECEC6;
}

.modal-2 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99999; /* Sit on top */
	left: 0;
	top: 0;
	right: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
/* Modal Content/Box */
.modal-content {
	background-color: #fff;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border-radius: 0px;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

.footer-modal{
	padding: 10px 5px;
}
.psw{
	float: right;
	padding-top: 7px;
}
/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
.imgcontainer { width: 70%; padding:15px 5px; margin: auto;}
.imgcontainer img{width: 100%;}

.logo-login-register{ 
	width: 90%; 
	height: 90%; 
	margin: auto; 
	margin-top: 20px;
}
/*end login*/

.btn-hotel-2{
	background-color:  #e9224a;
	border-color:  #e9224a;
	color: #fff;
	border-radius: 0px;
}

.btn-hotel-2:hover{
	background-color:#d20d35;
	border-color: #d20d35;
	color: #fff;
	border-radius: 0px;
}

.border-radis-none{
	border-radius: 0px;
}

.bg-success-2{
	background-color: rgb(153, 207, 73);
	color: #fff;
	border-radius: 0px;
}

.bg-success-2:hover{
	background-color: rgb(153, 207, 73);
	color: #fff;
	border-radius: 0px;
}

.bg-danger-2{
	background-color: #88C132;
	color: #fff;
}

.bg-primary-2{
	background-color:  #e9224a;
	color: #fff;
	border-radius: 0px;
}

.product-details {
	margin-bottom: 30px;
	overflow: hidden;
	margin-top: 10px;
}

#loadmore{
	font-size: 18px;
}

.product-information2{
	padding: 5px 30px 20px 30px;
	border: 1px solid #F7F7F0;
	background: #fff;
	margin-bottom: 20px; 
}
/*.product-information2{
  padding: 5px 30px 20px 30px;
  box-shadow: 1px 2px 3px #F7F7F0;
  background: #fff;
}*/
.product-information {
	background: #fff;
	border: 1px solid #F7F7F0;
	overflow: hidden;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-top: 30px;
	position: relative;
	margin-bottom: 5px;
	
	border-radius: 3px;

}

.label_news {
	position: absolute;
	z-index: 8;
	top: 0px;
	left: 0;
	display: inline-block;
	width: 55px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 0px 0px;
	background: #9bd031;
	color: #fff;
	font-size: 13px;
}

.label_news .bf_ {
	position: relative;
	display: block;
}

.label_news.top_ {
	top: 32px;
}

.sale_count {
	position: absolute;
	z-index: 8;
	display: inline-block;
	width: 55px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 0px 0px;
	background: #de4343;
	color: #fff;
	font-family: 'Gotham', sans-serif;
	font-size: 13px;
}

.newarrival{
	position:absolute;
	top:0;
	left:0
}

.product-information h2 {
	color: #e9224a;

	font-size: 20px;
	margin-top: 0;
	font-weight: 700;
}

.product-information p {
	color: #696763;

	margin-bottom: 15px;
}

.product-information span {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 10px;
}

.product-information span span {
	color: #FE980F;
	float: left;

	font-size: 20px;
	font-weight: 700;
	margin-right: 20px;
	margin-top: 0px;
}
.product-information span input {
	border: 1px solid #DEDEDC;
	color: #696763;

	font-size: 14px;
	font-weight: 700;
	height: 30px;
	outline: medium none;
	text-align: center;
	width: 100px;
	border-radius: 4px;
}
.product-information span select {
	border: 1px solid #DEDEDC;
	color: #696763;

	font-size: 14px;
	font-weight: 700;
	height: 30px;
	outline: medium none;
	width: 250px;
	border-radius: 4px;
}
.product-information span label {
	color: #696763;

	font-weight: 700;
	margin-right: 5px;
}

.product-information .price-discount{
	font-weight: bold;
}
.product-information .price{color: #ea1e63; font-size: 24px;}

.product-information .discount{color:#777; text-decoration: line-through; font-size: 18px;}

.share {
	margin-top: 15px;
}
.sale-price{
	color: #777;
	text-decoration: line-through;
}

.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; 
}
@media screen and (max-width: 996px) {
	.preview { margin-bottom: 20px; } 
}
`

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}
@media screen and (max-width: 996px) {
  .preview { margin-bottom: 20px; } 
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}
.preview-thumbnail.nav-tabs li {
  width: 15%;
  margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; 
}

.tab-content { overflow: hidden; }
.tab-content img {
    width: 80%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; 
}
.tab-pane {  text-align: center; }
	/*end product detail*/

	/*tab detail*/
	.card .nav-tabs { border-bottom: 2px solid #F7F7F0; }
	.card .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
	.card .nav-tabs > li > a { border: none; color: #666;background: #fff; }
	.card .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border-bottom: 2px solid #F7F7F0; color: #e9224a !important; background: #fff; }
	.card .nav-tabs > li > a::after { content: ""; background: #e9224a; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transform: scale(0); }
	.card .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
	.card .tab-nav > li > a::after { background: #e9224a none repeat scroll 0% 0%; color: #fff; }
	.card .tab-pane { padding: 15px 0; }
	.card .tab-content{padding:20px}
	.card .nav-tabs > li  {width:20%; text-align:center;}
	.card {
		background: #FFF none repeat scroll 0% 0%; 
		/*box-shadow: 0px 1px 3px #F7F7F0;*/
		margin-bottom: 30px; 
		border: 1px solid #F7F7F0;

	}

	@media all and (max-width:724px){
		.card .nav-tabs > li > a > span {display:none;} 
		.card .nav-tabs > li > a {padding: 5px 5px;}
	}
	/*end tab detail*/
	.cart-item .image {
		margin: 0;
		position: relative;
		overflow: hidden;
	}
	.cart-item  .image img {
		margin: 0 auto;
		max-width: 100%;
	}
	.cart-item .title{
		font-size: 14px;
		margin-bottom: 7px;
		line-height: 20px;
		font-weight: 600;
		padding-top: 0;
	}
	.cart-item .seller-by {
		font-size: 13px;
		margin-bottom: 12px;
	}
	.cart-item .price{
		text-decoration: none;
		font-size: 16px;
		margin-bottom: 12px;
		color: red;
	}

	.checked{color: orange;}

	/*comment*/
	.comment input, .comment textarea {
		outline: none;
		border: none;
		display: block;
		margin: 0;
		padding: 0;
		-webkit-font-smoothing: antialiased;
		font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
		font-size: 1rem;
		color: #555f77;
	}
	.comment input::-webkit-input-placeholder, .comment textarea::-webkit-input-placeholder {
		color: #ced2db;
	}
	.comment input::-moz-placeholder, .comment textarea::-moz-placeholder {
		color: #ced2db;
	}
	.comment input:-moz-placeholder, .comment textarea:-moz-placeholder {
		color: #ced2db;
	}
	.comment input:-ms-input-placeholder, .comment textarea:-ms-input-placeholder {
		color: #ced2db;
	}

	.comment p {
		line-height: 1.3125rem;
	}

	.comments {
 /* margin: 2.5rem auto 0;
 max-width: 60.75rem;*/
 padding: 0 1.25rem;
}

.comment-wrap {
	margin-bottom: 1.25rem;
	display: table;
	width: 100%;
	min-height: 5.3125rem;
}

.photo {
	padding-top: 0.625rem;
	display: table-cell;
	width: 3.5rem;
}
.photo .avatar {
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 50%;
	background-size: contain;
}

.comment-block {
	padding: 1rem;
	background-color: #fff;
	display: table-cell;
	vertical-align: top;
	border-radius: 0.1875rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
	width: 100%;
	resize: none;
}

.comment-text {
	margin-bottom: 1.25rem;
}
/*end comment*/

.box-cart{ 
	height: 470px; 
	overflow: auto;
	margin-bottom: 30px;
}

.login-cart .order {
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 10px;
}
.login-cart .order .title{ font-size: 16px; line-height: 32px; font-weight: bold;}

.login-cart .item{
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #c9c9c9;
	font-size: 13px;
}
.login-cart .item .title{ width: 170px !important; }
.login-cart .item .title{ 
	color: #000;
	float: left;
	width: 170px;
}
.login-cart .item .price{
	float: right;
}
.clear{
	clear: both;
}
.address-item.is-default {border: 1px dashed #090;}
.address-item .name {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
}
.address-item.is-default .default {
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
	font-size: 11px;
	color: #090;
}
.address-item .address {
	font-size: 13px;
	margin-bottom: 3px;
}
.address-item .phone {
	font-size: 13px;
	margin-bottom: 10px;
}
.payment {
	margin-bottom: 0;
	background: #fff;
	border: none;
	border: 1px solid #EEEEEE;  
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;

}

.payment h3.step-title {
	margin-top: 0;
	font-size: 18px;
	color: #5f5f5f;
}
.payment .radio {

	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/* Hide the browser's default radio button */
.payment .radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.payment .checkround {

	position: absolute;
	top: 0px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff ;
	border-color:/*#e9224a*/ #333;
	border-style:solid;
	border-width:2px;
	border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.payment .radio input:checked ~ .checkround {
	background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.payment .checkround:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.payment .radio input:checked ~ .checkround:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.payment .radio .checkround:after {
	left: 2px;
	top: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background:/*#e9224a*/ #333; 
}
.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}
.fixed-alert{
	top: 150px;
	position: fixed;
	z-index: 99;
}

.cart-empty{text-align: center; padding-bottom: 35px;}

.box-error{ 
	width: 100%; 
	border: 1px solid #EEEEEE; 
	border-top-color: #e9224a; 
	margin: 10px 0px 10px 0px;
	padding: 20px 10px;
	background-color: #fff;

	/*box-shadow: 3px 3px 3px #EEEEEE;*/
	position: relative;

}
.box-error h1, .box-error h2, .box-error h3, .box-error h4, .box-error h5{
	color: #e9224a;
	text-transform: capitalize;
	font-weight: bold;
}
.box-error hr{ border-top: 1px solid #e9224a; }

.box-shadow{

}

/*Form Wizard*/

.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0; margin-top: 30px;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #e9224a; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #D2032C; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; background: #ccc;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #e9224a;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #ccc;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 1; background: #f5f5f5;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%; background: #ccc;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%; background: #ccc;}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.btn-black{
	background-color: #666;
	color: #fff;
	border-radius: 0px;
}
.btn-black:hover{ background-color: #444; color: #fff;}

.show {
	width: 90%;
	height: 90%;
	z-index: 1;
	margin: auto;
}

.small-img {
	width: 350px;
	height: 70px;
	
	position: relative;
	margin: auto auto;
	margin-top: 10px;
	left: 10px;

}

.small-img .icon-left, .small-img .icon-right {
	width: 12px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.small-img .icon-left { transform: rotate(180deg) }

.small-img .icon-right { right: 0; }

.small-img .icon-left:hover, .small-img .icon-right:hover { opacity: .5; }

.small-container {
	width: 90%;
	height: 90%;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.small-container div {
	width: 800%;
	position: relative;
}

.small-container .show-small-img {
	width: 70px;
	height: 70px;
	margin-right: 6px;
	cursor: pointer;
	float: left;
}

.small-container .show-small-img:last-of-type { margin-right: 0; }

.title-comm {
  color: #ef5350;
  font-size: 20px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
}

h3.title-comm:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0;
  border-top: 2px solid #ef5350;
  z-index: 1;
  display: block;
}

.title-comm .title-holder {

  height: 45px;
  background-color: #fff;
  height: auto;
  line-height: 45px;
  padding: 0px 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  display: inline-block;
  min-width: 100px;
}